@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import "react-alice-carousel/lib/alice-carousel.css";


* {
    scroll-behavior: smooth;
}

.app {
    min-height: 100vh;
}

.pageTitle {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: 2vw;
    padding: 4px;
    border-radius: 50px;
    color: white;
}

@media (max-width: 1000px) {
    .pageTitle {
        font-size: 6.4vw;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    overflow-x: hidden;
}

body {
    font-family: $font-family;
    color: $color-dark;
    overflow-x: hidden !important;
    font-weight: 400;
    font-size: $font-size-body;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: $font-family;
    line-height: 1.3;
    font-weight: 600;
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
    line-height: 1.2;
}

::selection {
    background: lighten($color-dark, 5%);
    color: $color-white;
}

.MuiChip-clickable {
    padding: 1.25rem !important;
    border-radius: 10px !important;
    border: 1px solid rgba($color-secondary, .75) !important;
    background: rgba($color-secondary, 1) !important;
    color: rgba($color-white, .95) !important;

    &:hover {
        background: rgba($color-secondary, .75) !important;
        color: $color-white !important;
        color: rgba($color-white, 1) !important;
    }
}

.MuiChip-colorPrimary  {
    background: rgba($color-dark, 1) !important;

    &:hover {
        background: rgba($color-dark, .85) !important;
    }
}