//
// variables
//

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,600;1,700;1,800;1,900;1,1000&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
// Color
$color-primary: #dea527;
$color-secondary: #05ACE8;
$color-success: #5adb7e;
$color-warning: #ffbf66;
$color-danger: #d7263d;
$color-dark: #333333;
$color-black: #161c2d;
$color-mute: #545454;
$color-light: #f2f6fa;
$color-white: #ffffff;

// Gray
$color-gray-1: #dee2e6;

//box shadow
$box-shadow-1: 0 0 3px rgba($color-dark, 0.15);
$box-shadow-2: 0 5px 13px rgba($color-dark, 0.2);
$box-shadow-3: 0 25px 25px rgba($color-dark, 0.05);

//font
$font-size-body: 16px;
$font-family: "Fira Sans", sans-serif;
// colors
$colors: (
    "primary": $color-primary,
    "success": $color-success,
    "warning": $color-warning,
    "danger": $color-danger,
    "dark": $color-dark,
    "mute": $color-mute,
    "light": $color-light,
    "footer": lighten($color-black, 6%),
);

// font size
$heading-font-sizes: (
    "h1, .fs-1": 42px,
    "h2, .fs-2": 36px,
    "h3, .fs-3": 30px,
    "h4, .fs-4": 24px,
    "h5, .fs-5": 18px,
    "h6, .fs-6": 16px,
);

$display-font-sizes: (
    "display-1": 80px,
    "display-2": 72px,
    "display-3": 64px,
    "display-4": 56px,
    "display-5": 48px,
    "display-6": 40px,
);